<!-- <mat-grid-list cols="12" rowHeight="100px" style="margin-top:1%;">

    <mat-grid-tile [colspan]="12" [rowspan]="1" style="display:unset"> -->
          <!-- Modal Structure -->
  <div id="modal2" class="modal red accent-2" >
        <div class="modal-content">
          <h4>Error</h4>
          <p>Ya existe una pantalla con esa numeracion</p>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">cerrar</a>
        </div>
      </div>
<div class="row">
    <div class="col s12 m12">
        <div class="row">
            <!-- Modal Trigger -->

            <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1">
                <i class="material-icons">add</i>
            </a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h5>Ingrese el numero de la nueva pantalla</h5>
                    <input id="nombrePantalla" type="number" class="validate" placeholder="nombrePantalla" name='nombrePantalla' [(ngModel)]='nuevaPantalla'>

                    <!-- <a class="waves-effect waves-light btn" (click)='agregarPantalla()'>Agre</a> -->

                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)='agregarPantalla()'>Agregar</a>
                </div>
            </div>
            <!-- <div class="col m11">
                <input id="nombrePantalla" type="text" class="validate" placeholder="nombrePantalla" name='nombrePantalla' [(ngModel)]='nombrePantalla'>
            </div>
            <div class="col m1">
                <a class="waves-effect waves-light btn" (click)='cambioNombrePantalla()'>Cambiar</a>
            </div> -->


        </div>
        <div class="input-field col s12">
            <ul class="collection with-header">
                <li class="collection-item" [ngClass]="{'active': listado.nombrePantalla === nombrePantalla}" *ngFor='let listado of listadoPantallas' (click)='cambioNombrePantalla(listado.nombrePantalla)'
                style="cursor:pointer">
                    <div> {{listado.nombrePantalla}}

                    </div>
                </li>

            </ul>
            <!-- <select [(ngModel)]='nombrePantalla' >
                    <option value="">Choose your option</option>
                    <option  *ngFor='let listado of listadoPantallas' (click)='cambioNombrePantalla()' [value]=listado.nombrePantalla>{{listado.nombrePantalla}}</option>
                    
                </select>
                <label>Materialize Select</label> -->
        </div>



    </div>
</div>

          
<div class="row">
    <div class="col m12">
        <!-- <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Prestaciones" name='inputBusqueda' [(ngModel)]='inputBusqueda' (keyup)='loadTipoPrestaciones()'>
            </mat-form-field>
        </form> -->

        <form class="col s12">
            
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate" placeholder="Prestaciones" name='inputBusqueda' [(ngModel)]='inputBusqueda'
                        (keyup)='loadTipoPrestaciones()' (load)='loadTipoPrestaciones()'>
                    <label for="first_name">Prestaciones</label>
                </div>
                <h5 style="text-align: center;">{{nombrePantalla}}</h5>
            </div>

        </form>




    </div>
    <div class="col s6 m6">





        <!-- <mat-list>
            <mat-list-item *ngFor='let prestacion of prestaciones'>
                {{prestacion.term}}
                <button mat-raised-button color="primary" (click)='seleccionar(prestacion)' style="margin-left: 8px;">Agregar</button>

            </mat-list-item>

        </mat-list> -->

        <ul class="collection with-header">
            <li class="collection-header">
                <h4>Prestaciones</h4>
            </li>
            <li class="collection-item" *ngFor='let prestacion of prestaciones'>
                <div> {{prestacion.term}}
                    <a *ngIf='prestacion.seleccionada !== true' class="secondary-content " style="cursor: pointer;" (click)='seleccionar(prestacion)'>
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </li>

        </ul>

    </div>

    <div class="col s6 m6">

        <ul class="collection with-header">
            <li class="collection-header">
                <h4>Prestaciones Seleccionadas</h4>
            </li>
            <li class="collection-item  red accent-4" *ngIf='prestacionesSelect.length === 0'>
                no posee ninguna prestacion seleccionada
            </li>
            <li class="collection-item" *ngFor='let prestaciones of prestacionesSelect;let i = index'>
                <div> {{prestaciones.term}}
                    <a class="secondary-content " style="cursor: pointer;" (click)='baja(i)'>
                        <i class="material-icons">remove</i>
                    </a>
                </div>
            </li>

        </ul>
        <!-- <mat-list>
            <mat-list-item *ngFor='let prestaciones of prestacionesSelect'>
                {{prestaciones.term}}
            </mat-list-item>

        </mat-list> -->

    </div>
</div>