/*--------------------------------------------------------------
# Turnero - Colores
--------------------------------------------------------------*/

$turnero-negro:black;
$turnero-azul-oscuro: #243163;
$turnero-azul: #2c4794;
$turnero-cyan: #00a1df;
$turnero-rojo: #cb0053;
$turnero-celeste: #84cef0;
$turnero-violeta: #662480;
$turnero-violeta-claro: #982f98;
$turnero-magenta: #e3007e;
$turnero-verde: #00b9b1;
$turnero-verde-claro: #63c7b7;
$turnero-gris: #a1a1a1;