<div class=" ">
    <div class="card horizontal" style="text-align: center;">
        <div class="card-stacked">
            <div class="card-content">

                <a routerLink="/inicio">
                    <mat-icon style="
                font-size: 34px;
                color: black;
                position: absolute;
                right: 63px;">home</mat-icon>

                </a>

                {{fecha}}  {{now}}
                
            </div>

        </div>
    </div>
</div>


