<div class="col s12 m7">
    <div class="card horizontal" style="text-align: center;">

        <div class="card-stacked">
            <div class="card-content">
                <a routerLink="/configuracion">
                    <mat-icon style=" float: right;
                font-size: 34px;
                color: black;">settings</mat-icon>

                </a>

                <a routerLink="/inicio">
                    <mat-icon style="
                font-size: 34px;
                color: black;
                position: absolute;
                right: 63px;">home</mat-icon>

                </a>
                {{fecha}}
                <br> {{now}}
            </div>

        </div>
    </div>
</div>


